/app/config/config.local.php
/vendor/
/storage/logs/*
!/storage/logs/.gitkeep
!/storage/logs/.htaccess
/storage/mail/*
!/storage/mail/.gitkeep
!/storage/mail/.htaccess
/storage/quotes/*
!/storage/quotes/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
!/storage/uploads/.htaccess
/storage/temp/*
!/storage/temp/.gitkeep
!/storage/temp/.htaccess
/storage/backups/*
!/storage/backups/.gitkeep
!/storage/backups/.htaccess
.DS_Store
Thumbs.db
